@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-montserrat: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

    --color-bgGray: #faf8f3;
    --color-caribeCoffee: #2d5c65;
    --color-caribeOrange: #c8a35f;
    --color-navDark: #132f4a;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --font-playfair: 'Playfair', Georgia, serif;

}

.font-playfair {
    font-family: var(--font-playfair);
}

[x-cloak] {
    display: none !important;
}

html {
    scroll-behavior: smooth;
}
